{% extends "base.html" %}

{% block content %}
    <ol>
        {% for animal in animals %}
            <li>
                name: {{ animal.name }} | nickname: {{ animal.nickname }} | category: {{ animal.category.name }}
                <ul>
                    {% for food in animal.category.foods.all %}
                        <li>
                            {{ food.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
